<!--<p>modify-icecream works!</p>-->
<!--flavour-->
<!--brand-->
<!--price-->
<!--toppings-->

<form [formGroup]="IcecreamList" (ngSubmit)="onSubmit()">

  <div class="form-group">
    <label for="id">ID</label>
    <input type="text" id="id" formControlName="id" />
  </div>

  <div class="form-group">
    <label for="flavour">Flavour</label>
    <input type="text" id="flavour" formControlName="flavour" />
  </div>

  <div class="form-group">
    <label for="brand">Brand</label>
    <input type="text" id="brand" formControlName="brand" />
  </div>

  <div class="form-group">
    <label for="price">Price</label>
    <input type="text" id="price" formControlName="price" />
  </div>

  <div class="form-group">
    <label for="toppings">Toppings</label>
    <input type="checkbox" id="toppings" formControlName="toppings" />
  </div>

  <button type="button" (click)="navigateToIcecreamList()">Back to list</button>
</form>
